<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="//fagsubs.pw/img/favicon.jpg">
	<title>SoundBeat - </title>
	<link rel="stylesheet" href="src/css/main.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top navbar-inverse" role="banner">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/"><span class=""></span>SoundBeat -</a>
			</div>
		</div>
	</nav>
	<div class="container">
		<div id="main" ng-controller="mainApp">
			<div class="row">
				<div class="col-md-12">
					<iframe id="player" width="100%" height="0" scrolling="no" frameborder="no"></iframe>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<table class="table" ng-cloack>
					<tr>
						<td colspan="3">
							<form novalidate class="form-inline" role="form" ng-submit="searchPlaylists()">
								<div class="form-group">
									<label class="sr-only" for="input-keyword">Cari Lagu</label>
									<input type="text" name="keyword" id="input-keyword" class="form-control" placeholder="keyword" ng-model="keyword" />
								</div>
								<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
							</form>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>
