[ng\:cloack], [ng-cloack], [data-ng-cloack], [x-ng-cloack], .ng-cloack, .x-ng-cloack {
	display: none !important; 
}

table {
	margin: 0 !important;
}

td.left {
	width: 100px;
}

td.right {
	width: 40px;
}

#loader {
	display: none;
}

#loader img {
	margin: 20px;
	width: 40px;
}

.img.icon-repeat {
	width: 24px;
	height: 24px;
}

.btn-repeat {
	padding: 4px 7px;
}